*{
    padding: 0;
    margin: 0;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .8;
    background: grey;
}
nav ul li a{
    color: orangered;
}

.jumbotron{
    height: 100vh;
    background: url(images/my-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(27, 229, 236);

}


.profession{
    color: rgb(0, 1, 0);
}

.social-icon{
    margin: 0 1.1em;
    font-size: 20px;
    color: #fff;
}

.designer{
    font-weight: 900;
}

/* Body Styles */
h2{
    color: rgb(27, 229, 236);
}

#wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}