//variables

$h2Color :  rgb(27, 229, 236);


.jumbotron{
    background: url(/images/green-leaf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $h2Color;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .8;
    background: grey;
}
nav ul li a{
    color: orangered;
    text-transform: capitalize;
}


.profession{
    color: rgb(0, 1, 0);
}

.social-icon{
    margin: 0 1.1em;
    font-size: 20px;
    color: #fff;
}

.designer{
    font-weight: 900;
}

/* Body Styles */
h2{
    color: $h2Color;
}

.skill-icon{
    font-size: 5vw;
    color: $h2Color;
}