//variables

$h2Color :  rgb(27, 229, 236);

*{
    padding: 0;
    margin: 0;
}
html, body{
    background-color: rgb(10, 17, 17);
    font-family: sans-serif;
    color: #fff;
}

#intro-container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.me{
    & span{
        padding: 10px 30px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;
        line-height: 24px;
        letter-spacing: 1px;
        background: rgb(12, 183, 226);
        color: black;
    }
}

.card {
    width: 100%;
    box-shadow: 2px 2px 1px 0px rgb(12, 183, 226);
}

.skills{
    & span{
        margin: 15px;
        padding: 3px 4px;
        border: 1px solid rgb(12, 183, 226);
    }
}